@media (min-width: 779px){
    .bottom-line-nav{
        display: flex !important;
    }
}
@media (max-width: 778px){
    .bottom-line-nav{
        display: none;
    }
    nav.active .bottom-line-nav{
        justify-content: start;
    }
    nav.active .bottom-line-nav .links-list{
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
    }
    nav.active{
        position: fixed;
        top: 0;
        left: 0;
        background: var(--Light-Grey, #F9F9F9);
        height: 100%;
        margin: 0;
        padding: 26px 28px 0px 28px;
        box-shadow: 2px 7px 24px -5px rgba(138,136,136,0.74);
        z-index: 100;
    }
    nav.active .basket-and-user-container{
        display: flex;
        order: 3;
        padding-right: 20px;
    }
    .nav.active .close-nav{
        display: block;
    }
    .top-line-nav .search{
        order: 2;
    }
    .top-line-nav .logo-nav{
        order: 1;
        width: 90%;
    }
    .top-line-nav{
        gap: 20px;
    }
    .gamburger-menu-icon{
        display: block;
        order: 3;
    }
    .basket-and-user-container{
        display: none;
    }
}
@media (max-width: 1148px){
    .started-with-block{
        flex-wrap: wrap;
    }
    .started-with-block .left-content{
        max-width: 100%;
        width: 100%;
    }
    .sign-up-footer-form form{
        justify-content: start;
    }
}
@media (max-width: 1079px){
    .features-container {
        flex-wrap: wrap;
    }
    .features-item{
        flex-basis: calc(50% - 20px);
    }
}
@media (max-width: 1000px){
    .products-listing-container{
        flex-wrap: wrap;
    }
    .product-item{
        max-width: 50%;
        width: calc(50% - 20px);
    }
}
@media (max-width: 940px){
    .sign-up-footer-container{
        width: 100%;
    }
    .top-footer-content{
        flex-wrap: wrap;
    }
    .footer-list{
        margin-bottom: 40px;
    }
}
@media(max-width: 800px){
    .started-with-item {
        max-width: 100%;
    }
    .started-with-desc{
        margin-bottom: 56px;
    }
}
@media (max-width: 770px){
    .header{
        background: #fff;
        flex-direction: column;
        justify-content: center;
    }
    .header-bg-on-responsive{
        display: block;
    }
    .header-bg-on-responsive img{
        max-width: 100%;
    }
    .header-block{
        max-width: 100%;
        padding: 0;
        margin: 47px 24px 32px 24px;
        row-gap: 32px;
    }
    .header-block .header-heading{
        margin-bottom: 12px;
        font-size: 24px;
    }
    .view-collection-btn{
        width: 80%;
    }
    .btn-content{
        justify-content: center;
    }
    .header-block .header-desc::after{
        content: '. With our new collection, view over 400 bespoke pieces from homeware through to furniture today';
    }
    .header-block .header-desc{
        color: var(--Dark-Primary, #2A254B);
        font-size: 16px;
    }
}
@media (max-width: 740px){
    .features-item{
        flex-basis: 100%;
    }
    
}
@media (max-width: 560px){
    .features-block {
        padding: 48px 24px 50px 24px;
    }
    .features-heading{
        font-size: 20px;
        text-align: left;
        max-width: 274px;
    }
    .products-listing-block {
        padding: 24px 24px 28px 24px;
    }
    .started-with-block{
        padding: 32px 24px;
    }
    .started-with-heading{
        font-size: 20px;
    }
    .started-with-desc{
        font-size: 14px;
    }
    .started-with-block .left-content{
        padding: 36px 32px 30px 32px; 
    }
    .sign-up-block{
        padding: 24px 24px 32px 24px;
        background-position: center;
    }
    .sign-up-heading{
        font-size: 24px;
        text-align: left;
    }
    .sign-up-desc{
        font-size: 14px;
        text-align: left;
        margin-bottom: 20px;
    }
    .sign-up-list{
        flex-direction: column;
        row-gap: 8px;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0;
    }
    .sign-up-form{
        width: 100%;
        max-width: 100%;
    }
    .sign-up-email{
        width: 100%;
    }
    .sign-up-submit-btn{
        min-width: 118px;
    }
    footer{
        padding: 40px 24px 0 24px;
    }
    .bottom-footer-content{
        height: 59px;
        justify-content: center;
        margin-top: 16px;
    }
    .links-icons{
        display: none;
    }
    .footer-list{
        max-width: 50%;
        width: 50%;
    }
    .footer-list:nth-child(1){
        order: 2;
    }
    .footer-list:nth-child(2){
        order: 1;
    }
    .footer-list:nth-child(3){
        order: 3;
    }
    .sign-up-footer-container{
        order: 4;
    }

}
@media (max-width: 390px){
    .view-collection-btn{
        width: 100%;
    }
    .view-collection-btn:hover{
        transform: scale(1.02);
    }
}


